<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="83c29f52-f0c8-43b6-88a1-baa1fbf3448d" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config"><con:description id="1a8ed931-b25d-4739-9b7c-d584f4736c88">The test suite generated for the REST service [Payees API]</con:description><con:settings id="265c323c-3456-4b72-a58a-e2ac5921af47"><con:setting id="83c29f52-f0c8-43b6-88a1-baa1fbf3448dfileName">Test-Suite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>